## Read the data

This code will give you the data you will use for this PC:

In [ ]:
# read web table into pandas DF
import pandas as pd

co2Link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRXjfxeKHQBBCh_oHP-D6RIHEX4eduLjydHb6ZGsU4jo0IK0KKQSoYX_X1FGssC_9hnqCgjKN0K4AVf/pub?gid=775098192&single=true&output=csv'
carbon=pd.read_csv(co2Link)

In [ ]:
# here it is:
carbon

,name,metric_tonnes_of_CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

As you see, some columns have space, which should be deleted:

In [ ]:
# also
carbon.columns

Index(['name', 'metric tonnes of CO2', 'date_of_information', 'ranking',
       'region'],
      dtype='object')

In [ ]:
# Like this
carbon.rename(columns={'metric tonnes of CO2':'metric_tonnes_of_CO2'},inplace=True)

# see
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  216 non-null    object
 1   metric_tonnes_of_CO2  216 non-null    float64
 2   date_of_information   216 non-null    int64
 3   ranking               216 non-null    int64
 4   region                216 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 8.6+ KB

You always make a copy:

In [ ]:
carbon_copy=carbon.copy()

## Questions

Complete the tasks requested using **carbon_copy**:

1. Keep all the columns but _Ranking_:
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).

2. Find the country with the minimum CO2 emission in the world.

3. Find the country with the minimum CO2 emission per Region.

4. Create a new column by keeping the square root of the the original CO2  column.

5. Compute the average of CO2. Then, create a new column. This new column is
the original CO2 minus the average computed.

You have changed **carbon_copy**, now save it as a file like this:

In [ ]:
# carbon_copy.to_csv("carbon_copy.csv",index=False)

#ITEM 1

Keep all the columns but Ranking:

In [ ]:
# Para empezar se guardó todas las columnas que no deseo eliminar, para ello usamos carbon_copy
# y usamos drop para elinar l columna pedida e inplace para sobreescribir en el dataframe

In [ ]:
carbon_copy.drop(columns=['ranking'], inplace= True)
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

ITEM 2: Find the country with the minimum CO2 emission in the world.

In [ ]:
#queremos encontrar el pais con menor emisión de CO2
# Usaremos la función min y especificaremos que solo necesitamos el nombre del pais( name)
carbon_copy[carbon_copy.metric_tonnes_of_CO2==min(carbon_copy.metric_tonnes_of_CO2)]['name']

215    Niue
Name: name, dtype: object

In [ ]:
#y como resultado obtenemos que es Niue

ITEM 3

In [ ]:
carbon_copy['region'].unique()

array(['East and Southeast Asia', 'North America', 'South Asia',
       'Central Asia', 'Middle East', 'Europe', 'Africa', 'South America',
       'Australia and Oceania', 'Central America and the Caribbean',
       'Antarctica'], dtype=object)

In [ ]:
# hacemos la creacion de un nuevo dataframe para cada una de las regiones
C1= carbon_copy[carbon_copy.region=='East and Southeast Asia']
C2= carbon_copy[carbon_copy.region=='North America']
C3= carbon_copy[carbon_copy.region=='South Asia']
C4= carbon_copy[carbon_copy.region=='Central Asia']
C5= carbon_copy[carbon_copy.region=='Middle East']
C6= carbon_copy[carbon_copy.region=='Europe']
C7= carbon_copy[carbon_copy.region=='Africa']
C8= carbon_copy[carbon_copy.region=='South America']
C9= carbon_copy[carbon_copy.region=='Australia and Oceania']
C10= carbon_copy[carbon_copy.region=='Central America and the Caribbean']
C11= carbon_copy[carbon_copy.region=='Antarctica']

# ya que hemos creado el nuevo data frame, buscaremos a la region con menor valor de CO2

In [ ]:
C1[C1.metric_tonnes_of_CO2==C1.metric_tonnes_of_CO2.min()]['name']

184    Timor-Leste
Name: name, dtype: object

In [ ]:
C2[C2.metric_tonnes_of_CO2==C2.metric_tonnes_of_CO2.min()]['name']

210    Saint Pierre and Miquelon
Name: name, dtype: object

In [ ]:
C3[C3.metric_tonnes_of_CO2==C3.metric_tonnes_of_CO2.min()]['name']

177    Bhutan
Name: name, dtype: object

In [ ]:
C4[C4.metric_tonnes_of_CO2==C4.metric_tonnes_of_CO2.min()]['name']

121    Armenia
Name: name, dtype: object

In [ ]:
C5[C5.metric_tonnes_of_CO2==C5.metric_tonnes_of_CO2.min()]['name']

141    Gaza Strip
142     West Bank
Name: name, dtype: object

In [ ]:
C6[C6.metric_tonnes_of_CO2==C6.metric_tonnes_of_CO2.min()]['name']

175    Faroe Islands
Name: name, dtype: object

In [ ]:
C7[C7.metric_tonnes_of_CO2==C7.metric_tonnes_of_CO2.min()]['name']

214    Saint Helena, Ascension, and Tristan da Cunha
Name: name, dtype: object

In [ ]:
C8[C8.metric_tonnes_of_CO2==C8.metric_tonnes_of_CO2.min()]['name']

211    Falkland Islands (Islas Malvinas)
Name: name, dtype: object

In [ ]:
C9[C9.metric_tonnes_of_CO2==C9.metric_tonnes_of_CO2.min()]['name']

215    Niue
Name: name, dtype: object

In [ ]:
C10[C10.metric_tonnes_of_CO2==C10.metric_tonnes_of_CO2.min()]['name']

212    Montserrat
Name: name, dtype: object

In [ ]:
C11 [C11.metric_tonnes_of_CO2== C11.metric_tonnes_of_CO2.min()]['name']

213    Antarctica
Name: name, dtype: object

ITEM 4

In [ ]:
# Hacemos la creacion de una lista con los valores de la raiz

root=carbon_copy.metric_tonnes_of_CO2.apply(lambda x:x**0.5)
root

0      110435.501538
1       69245.938509
2       53113.086900
3       42941.821107
4       30987.578156
           ...
211         6.000000
212         4.898979
213         3.872983
214         3.464102
215         3.000000
Name: metric_tonnes_of_CO2, Length: 216, dtype: float64

In [ ]:
# a esta lista obtenida la unimos a nuestro dataframe carbon_copy
carbon_copy=carbon_copy.assign(root_metric_tonnes_of_CO2=root)
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region,root_metric_tonnes_of_CO2
0,China,1.219600e+10,2023,East and Southeast Asia,110435.501538
1,United States,4.795000e+09,2023,North America,69245.938509
2,India,2.821000e+09,2023,South Asia,53113.086900
3,Russia,1.844000e+09,2023,Central Asia,42941.821107
4,Japan,9.602300e+08,2023,East and Southeast Asia,30987.578156
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America,6.000000
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean,4.898979
213,Antarctica,1.500000e+01,2023,Antarctica,3.872983
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa,3.464102
215,Niue,9.000000e+00,2023,Australia and Oceania,3.000000

ITEM 5

In [ ]:
# se calcula el promedio de las emisiones de CO2

promedio_CO2=carbon_copy['metric_tonnes_of_CO2'].mean()
carbon_copy['difference_from_average']=carbon_copy['metric_tonnes_of_CO2']-promedio_CO2
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region,root_metric_tonnes_of_CO2,difference_from_average
0,China,1.219600e+10,2023,East and Southeast Asia,110435.501538,1.202444e+10
1,United States,4.795000e+09,2023,North America,69245.938509,4.623435e+09
2,India,2.821000e+09,2023,South Asia,53113.086900,2.649435e+09
3,Russia,1.844000e+09,2023,Central Asia,42941.821107,1.672435e+09
4,Japan,9.602300e+08,2023,East and Southeast Asia,30987.578156,7.886654e+08
...,...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America,6.000000,-1.715645e+08
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean,4.898979,-1.715645e+08
213,Antarctica,1.500000e+01,2023,Antarctica,3.872983,-1.715645e+08
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa,3.464102,-1.715646e+08
215,Niue,9.000000e+00,2023,Australia and Oceania,3.000000,-1.715646e+08